@use "../utils" as u;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: u.rem(16);
  padding-block-start: u.rem(28);

  @include u.breakpoint(xlarge) {
    padding-inline: u.rem(165);
    padding-block-start: u.rem(89);
    max-width: u.rem(1440);
    margin: 0 auto;
  }

  &__logo {
    @include u.breakpoint-down(small) {
      width: u.rem(45);
    }
  }

  &__hamburger {
    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__nav {
    display: none;

    &__element {
      color: var(--gunmetal);
    }

    @include u.breakpoint(large) {
      display: flex;
      gap: u.rem(40);
    }
  }
}
