@use "../utils" as u;

.ranking {
  margin-inline: u.rem(16);
  margin-block-start: u.rem(64);
  padding-block-end: u.rem(80);
  display: flex;
  flex-direction: column;
  gap: u.rem(32);

  @include u.breakpoint(xlarge) {
    flex-direction: row;
    margin-block-start: u.rem(71);
    padding-block-end: u.rem(100);
    margin-inline: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    gap: u.rem(30);
  }

  &__card {
    display: flex;
    gap: u.rem(24);

    @include u.breakpoint(xlarge) {
      max-width: u.rem(350);
    }

    &__image {
      width: u.rem(100);
      height: u.rem(127);
    }

    &__number {
      font-weight: 700;
      font-size: u.rem(32);
      line-height: u.rem(32);
      color: var(--silver);
    }

    &__heading {
      margin-block-start: u.rem(12);
      color: var(--dark-space-blue);

      &:hover {
        color: var(--light-vermillion);
        cursor: pointer;
      }
    }

    &__para {
      margin-block-start: u.rem(9);
      color: var(--gunmetal);
    }
  }
}
