html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--almost-white);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: clamp(2.5rem, 0.0625rem + 4vw, 3.5rem);
  line-height: clamp(2.5rem, 0.0625rem + 4vw, 3.5rem);
}

h2 {
  font-size: clamp(2rem, 0.0625rem + 3vw, 2.5rem);
  line-height: clamp(2rem, 0.0625rem + 3vw, 2.5rem);
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --gunmetal: #5e607a;
  --dark-space-blue: #00001a;
  --silver: #c5c6ce;
  --almost-white: #fffdfa;
  --yellow: #e9aa52;
  --light-vermillion: #f15d51;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 26, 0.5);
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block-start: 1.75rem;
}
@media (min-width: 90em) {
  .header {
    padding-inline: 10.3125rem;
    padding-block-start: 5.5625rem;
    max-width: 90rem;
    margin: 0 auto;
  }
}
@media (max-width: 43.74875em) {
  .header__logo {
    width: 2.8125rem;
  }
}
.header__button {
  background: none;
  border: none;
}
@media (min-width: 56.25em) {
  .header__button {
    display: none;
  }
}
.header__hamburger {
  position: relative;
  z-index: 1;
}
@media (min-width: 56.25em) {
  .header__hamburger {
    display: none;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
@media (max-width: 56.24875em) {
  .header__nav {
    display: none;
    position: absolute;
    width: auto;
    height: 100%;
    background-color: var(--almost-white);
    right: 0;
    top: 0;
    flex-direction: column;
    padding: 9rem 9.6875rem 19.3125rem 1.5rem;
    gap: 1.5rem;
  }
}
.header__nav__element {
  color: var(--dark-space-blue);
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media (min-width: 56.25em) {
  .header__nav__element {
    color: var(--gunmetal);
    font-size: 0.9375rem;
    line-height: 1.625rem;
  }
}
.header__nav__element:hover {
  color: var(--light-vermillion);
  cursor: pointer;
}

.hero {
  padding-inline: 1rem;
  padding-block-start: 2rem;
}
@media (min-width: 90em) {
  .hero {
    grid-column: 1/3;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline-end: 0.9375rem;
    column-gap: 1.875rem;
  }
}
.hero__picture {
  height: 18.75rem;
  width: 100%;
  grid-column: 1/3;
}
.hero__image {
  display: block;
  width: 21.4375rem;
  height: 100%;
}
@media (min-width: 90em) {
  .hero__image {
    height: 18.75rem;
    width: 100%;
    grid-column: 1/3;
  }
}
.hero__heading {
  margin-block-start: 1.5rem;
  width: 90%;
}
@media (min-width: 90em) {
  .hero__heading {
    margin-block-start: 1.75rem;
    width: 100%;
  }
}
.hero__para {
  color: var(--gunmetal);
  margin-block-start: 1rem;
}
@media (min-width: 90em) {
  .hero__para {
    margin-block-start: 1.75rem;
  }
}
.hero__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.2734375rem;
  color: var(--almost-white);
  background-color: var(--light-vermillion);
  border: none;
  text-transform: uppercase;
  padding: 0.8125rem 2.125rem 0.6875rem 1.875rem;
  margin-block-start: 1.5625rem;
}
.hero__button:hover {
  cursor: pointer;
  color: var(--almost-white);
  background: var(--dark-space-blue);
}
@media (min-width: 90em) {
  .hero__button {
    margin-block-start: 1.8125rem;
  }
}

.ranking {
  margin-inline: 1rem;
  margin-block-start: 4rem;
  padding-block-end: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 90em) {
  .ranking {
    flex-direction: row;
    margin-block-start: 4.4375rem;
    padding-block-end: 6.25rem;
    margin-inline: 0;
    grid-row: 2/3;
    grid-column: 1/4;
    gap: 1.875rem;
  }
}
.ranking__card {
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 90em) {
  .ranking__card {
    max-width: 21.875rem;
  }
}
.ranking__card__image {
  width: 6.25rem;
  height: 7.9375rem;
}
.ranking__card__number {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--silver);
}
.ranking__card__heading {
  margin-block-start: 0.75rem;
  color: var(--dark-space-blue);
}
.ranking__card__heading:hover {
  color: var(--light-vermillion);
  cursor: pointer;
}
.ranking__card__para {
  margin-block-start: 0.5625rem;
  color: var(--gunmetal);
}

.sidebar {
  margin-inline: 1rem;
  margin-block-start: 4rem;
  background-color: var(--dark-space-blue);
}
@media (min-width: 90em) {
  .sidebar {
    margin: 0;
    margin-inline-start: 0.9375rem;
  }
}
.sidebar__content {
  padding: 1.5rem 1.25rem 1.5rem 1.3125rem;
}
@media (min-width: 90em) {
  .sidebar__content {
    padding: 2rem 1.5rem 1.9375rem;
  }
}
.sidebar__heading {
  color: var(--yellow);
}
.sidebar__cards {
  margin-block-start: 2.1875rem;
}
.sidebar__card + .sidebar__card {
  border-block-start: 1px solid var(--gunmetal);
  padding-block-start: 1.9375rem;
}
.sidebar__card {
  padding-block-end: 1.8125rem;
}
.sidebar__card:last-child {
  padding-block-end: 0;
}
.sidebar__card__heading {
  color: var(--almost-white);
}
.sidebar__card__heading:hover {
  color: var(--yellow);
  cursor: pointer;
}
.sidebar__card__para {
  color: var(--silver);
  margin-block-start: 0.5rem;
}

@media (min-width: 90em) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 10.3125rem;
    padding-block-start: 3.4375rem;
    max-width: 90rem;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
